*.e
*.msh
*.mesh
*.off
*.csv
*.face
*.node
*.step
*.cub5
Makefile
Make.common
.vscode/
build/
/test/build/
CMakeFiles/
Meshes/
*.face
*.node
*.step
*.jou
*.csv
*~
Visualisations/*
profiling/*
*.stl
*.log
profiling/*
pythonScripts/*
